/* ==========================================================================
  Grid - Based on the Twitter Bootstrap
========================================================================== */


.full-width {
  position: relative;
  width: 100%;
}

.container {
  padding-right: $gridGutter/2;
  padding-left: $gridGutter/2;
  margin-right: auto;
  margin-left: auto;
  width: $large;
  @include clearfix();
}

.row {
  margin-right: -($gridGutter/2);
  margin-left: -($gridGutter/2);
  @include clearfix();
}

[class*="span"] {
  position: relative;
  min-height: 1px;
  padding-right: $gridGutter/2;
  padding-left: $gridGutter/2;
  float: left;
}


@for $i from 1 through $gridCount {
  .span#{$i} {
    width: (100%/$gridCount) * $i;
  }
  .offset#{$i} {
    margin-left: (100%/$gridCount) * $i;
  }
}



/*==========  LARGE SCREEN  ==========*/

@include breakpoint(large) {

  .container {
    width: $medium;
    padding-right: 10px;
    padding-left: 10px;
  }

  .row {
    margin-right: -10px;
    margin-left: -10px;
  }

  [class*="span"] {
    padding-right: 10px;
    padding-left: 10px;
  }

  @for $i from 1 through $gridCount {
    .span-l-#{$i} {
      width: (100%/$gridCount) * $i;
    }
    .offset-l-#{$i} {
      margin-left: (100%/$gridCount) * $i;
    }
  }

}


/*==========  MEDIUM SCREEN  ==========*/

@include breakpoint(medium) {

  .container {
    width: $small;
  }

  @for $i from 1 through $gridCount {
    .span-m-#{$i} {
      width: (100%/$gridCount) * $i;
    }
    .offset-m-#{$i} {
      margin-left: (100%/$gridCount) * $i;
    }
  }

}


/*==========  SMALL SCREEN  ==========*/

@include breakpoint(small) {

  .container {
    width: auto;
  }

  [class*="offset"] {
    margin-left: 0;
  }

  [class*="span"] {
    display: block;
    float: none;
    width: auto;
    padding-bottom: 10px;
  }

  [class*="span-s"] {
    float: left;
  }

  @for $i from 1 through $gridCount {
    .span-s-#{$i} {
      width: (100%/$gridCount) * $i;
    }
    .offset-s-#{$i} {
      margin-left: (100%/$gridCount) * $i;
    }
  }

}


