/* ==========================================================================
  Typography
========================================================================== */


// html, body, button {
//   -webkit-font-smoothing: antialiased;
// }

body {
  color: $colorGray;
  line-height: $lineHeight;
  @include fontRegular();
  @include fontSize($fontBase);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

p, ul, ol {
  padding: 0 0 15px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: $lineHeightHeader;
  text-rendering: optimizeLegibility;
  @include fontHighlight();
}

.h1, h1 {
  @include fontSize($fontH1);

  @include breakpoint(large) {
    @include fontSize($fontH1 - 2);
  }
  @include breakpoint(medium) {
    @include fontSize($fontH1 - 4);
  }
  @include breakpoint(small) {
    @include fontSize($fontH1 - 6);
  }
}

.h2, h2 {
  @include fontSize($fontH2);

  @include breakpoint(large) {
    @include fontSize($fontH2 - 2);
  }
  @include breakpoint(medium) {
    @include fontSize($fontH2 - 4);
  }
  @include breakpoint(small) {
    @include fontSize($fontH2 - 5);
  }
}

.h3, h3 {
  @include fontSize($fontH3);

  @include breakpoint(large) {
    @include fontSize($fontH3 - 2);
  }
  @include breakpoint(medium) {
    @include fontSize($fontH3 - 3);
  }
  @include breakpoint(small) {
    @include fontSize($fontH3 - 4);
  }
}

.h4, h4 {
  @include fontSize($fontH4);

  @include breakpoint(large) {
    @include fontSize($fontH4 - 2);
  }
  @include breakpoint(medium) {
    @include fontSize($fontH4 - 3);
  }
  @include breakpoint(small) {
    @include fontSize($fontH4 - 4);
  }
}

h5, .h5 {
  @include fontSize($fontH5);
}

h6, .h6 {
  @include fontSize($fontH6);
}

.small,
small {
  @include fontSize($fontSmall);
}

.strong,
strong {
  font-weight: bold;
}