

.callout {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  @include breakpoint(medium) {
    min-height: 500px;
  }
}

.col--img {
  background-color: #000;
  border-top: 2px solid $color-gray-dark;
  border-bottom: 2px solid $color-gray-dark;
  justify-content: center;
  align-items: center;
  color: #fff;

  &:hover {
    color: #fff;
  }

  .content-wrap {
    position: relative;
    z-index: 2;
    padding: $padding*2 $padding;
  }
  h2 {
    display: block;
    padding: 0 0 10px;
    margin: 0 0 15px;
    border-bottom: 3px solid $color-blue;
    transition: all $timing $easing;
  }
  .img-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity $timing $easing;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.2;
  }

  @include breakpoint(large) {
    &:hover {
      color: #fff;
      h2 {
        transform: translateY(-30px);
        border-color: $color-blue;
      }
      p {
        opacity: 1;
        transform: translateY(0);
      }
      .img-wrap {
        opacity: 0.3;
      }
    }
    .content-wrap {
      padding: $padding;
    }
    h2 {
      border-bottom: 3px solid transparent;
      display: inline-block;
      padding: 0 0 25px;
      margin: 0;
    }
    p {
      height: 0;
      opacity: 0;
      transform: translateY(10px);
      transition: all $timing $easing;
    }
    .img-wrap {
      opacity: 0.6;
    }
  }
}

.col--1 {
  .img-wrap {
    background-image: url(/img/content/test-1.jpg);
  }

  @include breakpoint(medium) {
    border-right: 1px solid $color-gray-dark;
  }
}

.col--2 {
  .img-wrap {
    background-image: url(/img/content/test-2.jpg);
  }
  @include breakpoint(medium) {
    border-right: 1px solid $color-gray-dark;
    border-left: 1px solid $color-gray-dark;
  }
}

.col--3 {
  .img-wrap {
    background-image: url(/img/content/test-3.jpg);
  }
  @include breakpoint(medium) {
    border-left: 1px solid $color-gray-dark;
  }
}