/* ==========================================================================
  Header
========================================================================== */


header {
  padding: 10px 0;
  background: #fff;
  .container {
    justify-content: space-between;
  }

  .mobile-nav-show & {
    &:after {
      content: "";
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.6);
      z-index: 10;
      animation: fadeIn $timing both;
    }
  }

  @include breakpoint(medium) {
    padding: 15px 0;

    .mobile-nav-show & {
      &:after {
        display: none;
      }
    }
  }
}

.logo--main {
  display: block;
  width: 70px;

  img {
    width: 70px;
    height: auto;
  }

  @include breakpoint(medium) {
    width: 110px;
    margin: 0 40px 0 0;

    img {
      width: 110px;
    }
  }
}

.nav--main {
  background: $color-blue;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 20;
  padding: 65px 20px 20px;
  min-width: 170px;
  @include font-size( $font-large );
  transform: translateX(100%);
  transition: transform $timing $easing;

  .mobile-nav-show & {
    transform: translateX(0);
  }

  li {
    display: block;
    margin: 0 0 15px;
    &:last-of-type {
      margin: 0;
    }
  }

  .item--social {
    margin: 10px 5px 0 0;
    display: inline-block;
  }

  @include breakpoint(medium) {
    .item--social {
      display: none;
    }
  }
  @include breakpoint(large) {
    position: relative;
    overflow: hidden;
    top: auto;
    right: auto;
    bottom: auto;
    padding: 0;
    transform: none;
    width: 100%;
    background: transparent;
    ul {
      display: flex;
      align-items: center;
    }
    li {
      margin: 0 30px 0 0;
    }
  }
}

.link--nav {
  text-transform: uppercase;
  color: $color-gray-light;
  padding: 0 0 1px;
  border-bottom: 2px solid transparent;
  @include font-bold();
  &:hover {
    border-color: $color-brand;
    color: $color-gray-light;
  }

  @include breakpoint(medium) {
    color: $color-gray-dark;
    &:hover {
      color: $color-gray-dark;
    }
  }
}


$pages: menu locations contact catering;

@each $page in $pages {

  .page--#{$page} {
    .link--nav-#{$page} {
      border-color: $color-brand;
    }
  }

}


.nav--social {
  display: none;
  ul {
    display: flex;
  }
  li {
    margin: 0 0 0 15px;
  }

  @include breakpoint(medium) {
    display: block;
  }
}

.link--social {
  display: block;
  &:hover {
    .icon-svg {
      fill: $color-gray-dark;
    }
  }

  .icon {
    display: block;
  }
  .icon-svg {
    fill: $color-gray-light;
  }

  @include breakpoint(medium) {
    &:hover {
      .icon-svg {
        fill: $color-blue;
      }
    }
    .icon-svg {
      fill: $color-gray-dark;
    }
  }
}


.mobile-nav-toggle {
  display: block;
  width: 30px;
  z-index: 20;
  position: relative;

  .bar {
    display: block;
    width: 100%;
    height: 4px;
    background: $color-gray-dark;
    margin: 0 0 4px;
    transition: all $timing $easing;
    transform-origin: 12%;
  }

  .mobile-nav-show & {
    .bar--1 {
      transform: rotate(45deg);
      background: $color-gray-light;
    }
    .bar--2 {
      opacity: 0;
    }
    .bar--3 {
      transform: rotate(-45deg);
      background: $color-gray-light;
    }
  }

  @include breakpoint(medium) {
    display: none;
  }
}


