/* ==========================================================================
  Mixins
========================================================================== */


/*==========  BREAKPOINTS  ==========*/

@mixin breakpoint($point) {
  @if $point == xSmall {
    @media ( max-width: $xSmall )  { @content; }
  }
  @else if $point == small {
    @media ( max-width: $small + 20 )  { @content; }
  }
  @else if $point == medium {
    @media ( max-width: $medium + 20 ) { @content; }
  }
  @else if $point == large {
    @media ( max-width: $large + 20 ) { @content; }
  }
}



/*==========  FONTS  ==========*/

@mixin fontRegular() {
  font-family: $fontRegular;
  font-style: normal;
  font-weight: normal;
}


@mixin fontHighlight() {
  font-family: $fontHighlight;
  font-style: normal;
  font-weight: normal;
}


@mixin fontFace($font-name, $file-name, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src: url($file-name + '.eot');
    src: url($file-name + '.eot?#iefix')  format('embedded-opentype'),
    url($file-name + '.woff') format('woff'),
    url($file-name + '.ttf')  format('truetype'),
    url($file-name + '.svg##{$font-name}')  format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin fontSize($sizeValue: 1.6) {
  font-size: ($sizeValue * 1) + px;
  font-size: ($sizeValue / 10) + rem;
}



/*==========  UTILITIES  ==========*/

@mixin ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


@mixin vAlign() {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}


@mixin placeholder($color) {
  &:-moz-placeholder { color: $color; }
  &::-moz-placeholder { color: $color; }
  &:-ms-input-placeholder { color: $color; }
  &::-webkit-input-placeholder { color: $color; }
}