/* ==========================================================================
  Variables
========================================================================== */


/*==========  DEFINE BREAKPOINTS  ==========*/

$xSmall: 555px !default;
$small: 740px !default;
$medium: 950px !default;
$large: 1170px !default;



/*==========  GRID  ==========*/

$gridCount: 12;
$gridGutter: 30px;



/*==========  SPACING  ==========*/

$padding: 40px;
$margin: 20px;



/*==========  COLORS  ==========*/

$colorGray: #737373 !default;
$colorGrayDark: #404040 !default;
$colorGrayLight: #bbb !default;



/*==========  TEXT  ==========*/

// size will be converted to px and rem
$fontSmall: 13;
$fontBase: 16;
$fontLarge: 20;

$fontH1: 40;
$fontH2: 34;
$fontH3: 28;
$fontH4: 22;
$fontH5: 16;
$fontH6: 14;

$lineHeight: 1.7 !default;
$lineHeightHeader: 1.2 !default;
$lineHeightAlt: 1.5 !default;

$fontRegular: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$fontHighlight: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;



/*==========  OTHERS  ==========*/

$timing: 0.15s;
$easing: cubic-bezier(0.455, 0.030, 0.515, 0.955);