
// html, body, button {
//   -webkit-font-smoothing: antialiased;
// }

html {
  color: $color-body-text;
  line-height: $line-height;
  font-size: $font-medium + px;
  @include font-helvetica();

  @include breakpoint(medium) {
    font-size: $font-base + px;
  }
}

body {
  //overflow-x: hidden;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1, h2, h3, h4, h5, h6,
.Text--size-h1, .Text--size-h2, .Text--size-h3, .Text--size-h4, .Text--size-h5, .Text--size-h6 {
  line-height: $line-height-header;
  text-rendering: optimizeLegibility;
}

h1, .Text--size-h1 {
  @include font-size($font-h1);
  @include font-medium();
}

h2, .Text--size-h2 {
  @include font-size($font-h2);
  @include font-medium();
}

h3, .Text--size-h3 {
  @include font-size($font-h3);
  @include font-medium();
}

h4, .Text--size-h4 {
  @include font-size($font-h4);
  @include font-bold();
}

h5, .Text--size-h5 {
  @include font-size($font-h5);
  @include font-bold();
}

h6, .Text--size-h6 {
  @include font-size($font-h6);
  @include font-bold();
}

.Text--size-small,
small {
  @include font-size($font-small);
}

.Text--weight-strong,
strong {
  @include font-bold();
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  @include font-size($font-base);
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  @include font-size($font-small);
}



/*========== HELPER CLASSES ==========*/

.Text--size-highlight {
  @include font-size($font-large);
}

.Text--size-huge {
  line-height: $line-height-header;
  @include font-size($font-huge);
}

.Text--align-center {
  text-align: center;
}

.Text--align-left {
  text-align: left;
}

.Text--align-right {
  text-align: right;
}
