/* ==========================================================================
  Typography
========================================================================== */


// html, body, button {
//   -webkit-font-smoothing: antialiased;
// }

html {
  background: #fff;
  color: $color-body-text;
  line-height: $line-height;
  font-size: $font-base + px;
  @include font-regular();
}

body {
  //overflow-x: hidden;
  &.mobile-nav-show {
    overflow: hidden;
    height: 100vh;
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

p, ul, ol {
  padding: 0 0 15px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: $line-height-header;
  text-rendering: optimizeLegibility;
  @include font-bold();
}

h1, .h1 {
  @include font-size($font-h1);
}

h2, .h2 {
  @include font-size($font-h2);
}

h3, .h3 {
  @include font-size($font-h3);
}

h4, .h4 {
  @include font-size($font-h4);
}

h5, .h5 {
  @include font-size($font-h5);
}

h6, .h6 {
  @include font-size($font-h6);
}


.small,
small {
  @include font-size($font-small);
}

.strong,
strong {
  @include font-bold();
}

.text--highlight {
  @include font-size($font-large);
}

.text--huge {
  line-height: $line-height-header;
  @include font-size($font-huge);
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  @include font-size($font-base);
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  @include font-size($font-small);
}