/* ==========================================================================
  Button
========================================================================== */


.btn {
  display: inline-block;
  padding: 10px 32px 9px;
  text-align: center;
  text-decoration: none;
  outline: 0;
  background: $colorGray;
  color: #fff;
  border: 1px solid $colorGray;
  transition: all $timing $easing;
  &:hover,
  &:focus {
    background: #4d4d4d;
    color: #fff;
    border: 1px solid #4d4d4d;
  }

  &.btn--primary {
    @include fontSize($fontLarge);
    padding: 13px 42px 12px;
  }
  &.btn--secondary {
    @include fontSize($fontSmall);
    padding: 8px 28px;
  }
}