/* ==========================================================================
  Links
========================================================================== */


a {
  color: $colorGray;
  text-decoration: none;
  transition: all $timing $easing;
  &:hover,
  &:focus {
    color: darken($colorGray, 15%);
  }
}

