/* ==========================================================================
  Forms
========================================================================== */


form {
  margin: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0;
    *height: 13px;
    *width: 13px;
}

input[type="search"] {
  appearance: none;
  border-radius: 0;
  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input,
textarea {
  @include placeholder( $color-gray-light );
}

.form--styled {
  label {
    display: block;
    margin: 0 0 20px;
  }
  .title {
    display: block;
    padding: 0 0 3px;
    @include font-size( $font-medium );
  }

  input,
  textarea {
    display: block;
    width: 100%;
    @include font-regular();
    @include font-size( $font-medium );
    border: 1px solid $color-gray-dark;
    border-radius: 0;
    padding: 12px 10px;
    transition: border $timing $easing;
    background: $color-gray-light;
    -webkit-appearance: none;

    &:hover,
    &:focus {
      outline: 0;
      border-color: lighten( $color-gray-dark, 50% );
    }

    &[type=date] {
      height: 43px; // fix for the date element on mobile
    }
  }

  button {
    margin-top: 15px;
    @include font-size( $font-base );
    float: right;
    min-width: 30%;
  }
}

.select--wrap {
  position: relative;
  height: 43px;
  overflow: hidden;
  padding-right: 18px;
  background: transparent;
  width: 100%;
  display: block;
  background: $color-gray-light;
  border: 1px solid $color-gray-dark;

  &:hover,
  &:focus {
    border-color: lighten( $color-gray-dark, 50% );
  }

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 9px solid $color-gray-dark;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -3px;
    z-index: 2;
    pointer-events: none;
  }
}

.select--styled {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border: 0;
  border-radius: 0;
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-left: 10px;
  width: 100%;
  @include font-regular();
  @include font-size( $font-medium );
}


