/*==========  PADDING  ==========*/

.Pad {
  padding: $padding;
}

.Pad--v {
  padding-top: $padding;
  padding-bottom: $padding;
}

.Pad--v-2x {
  padding-top: $padding*2;
  padding-bottom: $padding*2;
}

.Pad--h {
  padding-right: $padding;
  padding-left: $padding;
}

.Pad--h-2x {
  padding-right: $padding*2;
  padding-left: $padding*2;
}

/*==========  PADDING TOP ==========*/

.Pad--t {
  padding-top: $padding;
}

.Pad--t-2x {
  padding-top: $padding*2;
}

.Pad--t-20 {
  padding-top: 20px;
}

.Pad--t-10 {
  padding-top: 10px;
}

.Pad--t-0 {
  padding-top: 0;
}

.Pad--t-0_s {
  @include breakpoint(medium) {
    padding-top: inherit;
  }
}

/*==========  PADDING BOTTOM  ==========*/

.Pad--b {
  padding-bottom: $padding;
}

.Pad--b-2x {
  padding-bottom: $padding*2;
}

.Pad--b-20 {
  padding-bottom: 20px;
}

.Pad--b-10 {
  padding-bottom: 10px;
}

.Pad--b-0 {
  padding-bottom: 0;
}

.Pad--b-0_s {
  @include breakpoint(medium) {
    padding-bottom: inherit;
  }
}

.Pad--b_s {
  padding-bottom: $padding;
  @include breakpoint(medium) {
    padding-bottom: inherit;
  }
}

/*==========  PADDING HORIZONTAL ==========*/

.Pad--r {
  padding-right: $padding;
}

.Pad--l {
  padding-left: $padding;
}
