/*==========  FLOATS/ORDER  ==========*/

.Left {
  float: left;
}

.Right {
  float: right;
}

.Order--1 {
  @include breakpoint(medium) {
    order: 1;
  }
}

.Order--2 {
  @include breakpoint(medium) {
    order: 2;
  }
}

/*==========  BACKGROUND  ==========*/

.Bg--white {
  background-color: $color-white;
}

.Bg--gray {
  background-color: $color-gray;
}

/*==========  UTILITIES  ==========*/

.Break {
  @include breakpoint(x-large) {
    display: block;
  }
}

.Truncate {
  @include ellipsis();
}




